@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
    padding: 2rem;

    .card-holder {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(255, 255, 255, 0.3);
        width: calc(90% / 3); /* Temporary fix */
        height: 45%; /* Temporary fix */

        &.disabled {
            pointer-events: none;
            opacity: 0;
        }

        &.card-open {
            width: 100%;
            height: 100%;
        }

        .card {
            position: relative;
            padding: 2rem;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            &:not(.card-open):hover {
                filter: brightness(1.1);
                transform: scale(1.05) perspective(1px);
            }

            &.card-open {position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                height: 80%;
                z-index: 10;
                cursor: default;
                animation: card-opening 0.5s ease-in-out forwards;
            }

            .card-content {
                display: none;
            }
        }
    }
}

@keyframes card-opening {
    0% {
        width: 10%;
        height: 10%;
    }
    100% {
        width: 80%;
        height: 80%;
    }
}
