@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
    --card-height: 30%;
    --card-width: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

#title {
    position: absolute;
    margin: 0.5rem;
    width: 99vw;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    h1 {
        padding: 0.2rem;
        text-align: center;
    }
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    flex: 1 0 100%;
    min-height: 0;

    padding: 2rem;

    .card-holder {
        display: flex;
        justify-content: center;
        align-items: center;

        /*background-color: rgba(255, 255, 255, 0.3);*/
        width: calc(90% / 3); /* Temporary */
        height: 45%; /* Temporary */

        transition: all 1s ease-in-out;

        /* When a top card is opened */
        &.top.disabled-from-top, &.bottom.disabled-from-top {
            pointer-events: none;
            opacity: 0;
            height: 0;
            width: 0;
        }
        &.top.disabled-from-bottom {
            pointer-events: none;
            opacity: 0;
            height: 0;
        }
        &.bottom.disabled-from-bottom {
            pointer-events: none;
            opacity: 0;
            width: 3px;
            height: 0;
        }

        .card {
            position: relative;
            padding: 2rem;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            animation: floating 4s ease-in-out infinite;

            width: 60%;
            height: 30%;

            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
            }

            &:hover {
                filter: brightness(1.3);
                transform: scale(1.05) perspective(1px);
            }

            .top-bar {
                display: flex;
                justify-content: end;
                transition: all 0.5s ease-in-out;

                .close-button {
                    display: none;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    text-align: center;
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 1;

                    &:hover {
                        filter: brightness(0.8);
                    }
                }
            }

            .card-content {
                flex: 1 1 auto;
                transition: all 0.5s ease-in-out;
                animation: ease-in-out 0.5s;

                overflow-y: auto;

                display: none;
            }
        }

        &.opened {
            flex: 0 1 auto;
            padding: 4rem 1rem 1rem 1rem;
            width: 100%;
            height: 100%;


            .card {
                width: 100%;
                height: 100%;
                cursor: default;
                animation: floating 5s ease-in-out infinite;

                /* When a card is opened  reset the hover effect */
                &:hover {
                    filter: brightness(1);
                    transform: scale(1);
                }

                .top-bar {
                    .close-button {
                        display: block;
                    }
                }

                .card-content {
                    display: flex;
                    animation: appear-after 4s forwards;
                }
            }
        }
    }
}

.card-holder.disabled-from-bottom *, .card-holder.disabled-from-top * {
    display: none;
    transition: all 0.5s ease-in-out;
}

#card-description {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    img {
        width: 10%;
        object-fit: cover;
        border-radius: 20px;
    }
}

#card-contact {
    display: flex;
    justify-content: center;
    align-items: center;

    .social-media {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;

        width: 100%;

        .social-media-container {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            h2 {
                text-align: center;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: black;
                width: 7rem;
                height: 7rem;
                text-align: center;
                text-decoration: none;
                color: #FFF;
                box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
                margin: 0 30px;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                transition: transform 0.5s;

                &:hover {
                    transform: translateY(-10px);
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: -7rem;
                    left: 0;
                    /*background: #000;*/
                    /*background: linear-gradient(-45deg, #ed1c94, #ffec17);*/
                    position: absolute;
                    transition: 0.5s;
                }

                &:hover::after {
                    top: 0;
                }

                &:hover .fab, &:hover .fa {
                    color: #fff;
                }

                .fab, .fa {
                    font-size: 3.5rem;
                    line-height: 80px;
                    position: relative;
                    z-index: 10;
                    transition: color 0.5s;
                }
            }
        }
    }
}

#card-cv-resume {
    iframe {
        width: 100%;
    }
}

#card-portfolio {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }

        .project-row {
            display: flex;
            justify-content: space-between;
        }

        img {
            width: 30%;
            border-radius: 20px;
        }

        h2 {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            text-align: center;
            padding: 0.5rem;
            border-radius: 10px;
            background-color: #fff;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}

@keyframes appear-after {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        width: auto;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes grow {
    0% {
        width: var(--card-width);
        height: var(--card-height);
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes shrink {
    0% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: var(--card-width);
        height: var(--card-height);
    }
}

