@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
    --card-height: 50%;
    --card-width: 70%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

#title {
    position: absolute;
    margin: 0.5rem;
    padding: 0 1em;
    width: 99vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    h1 {
        padding: 0.2rem;
        text-align: center;
    }

    a {
        font-size: 2rem;
        cursor: pointer;
        color: white;

        &:hover {
            transform: scale(1.1);
        }
    }
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    color: white;

    flex: 1 0 100%;
    min-height: 0;

    padding: 1rem;

    .card-holder {
        display: flex;
        justify-content: center;
        align-items: center;

        /*background-color: rgba(255, 255, 255, 0.3);*/
        width: calc(90% / 3); /* Temporary */
        height: 45%; /* Temporary */

        transition: all 1s ease-in-out;

        /* When a top card is opened */
        &.top.disabled-from-top, &.bottom.disabled-from-top {
            pointer-events: none;
            opacity: 0;
            height: 0;
            width: 0;
        }
        &.top.disabled-from-bottom {
            pointer-events: none;
            opacity: 0;
            height: 0;
        }
        &.bottom.disabled-from-bottom {
            pointer-events: none;
            opacity: 0;
            width: 3px;
            height: 0;
        }

        .card {
            padding: 2em;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            animation: floating 4s ease-in-out infinite;

            width: var(--card-width);
            height: var(--card-height);

            display: flex;
            justify-content: center;
            flex-direction: column;

            .card-name-container {
                display: flex;
                justify-content: center;
                align-items: center;
                h1 {
                    transition: all 0.5s ease-in-out;
                    text-align: center;
                    font-size: 3cqh;
                }
            }

            &:hover {
                filter: brightness(1.3);
                transform: scale(1.05) perspective(1px);
            }

            .top-bar {
                display: flex;
                justify-content: end;
                transition: all 0.5s ease-in-out;

                .close-button {
                    display: none;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    text-align: center;
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 1;

                    &:hover {
                        filter: brightness(0.8);
                    }
                }
            }

            .card-content {
                flex: 1 1 auto;
                transition: all 0.5s ease-in-out;
                animation: ease-in-out 0.5s;

                overflow-y: auto;

                display: none;

                .separator {
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 10%;
                    margin: 1rem 0;
                }
            }
        }

        &.opened {
            flex: 0 0 auto;
            padding: 0;
            width: 100%;
            height: 100%;
            animation: update-align 1s forwards;


            .card {
                width: 100%;
                height: 100%;
                cursor: default;
                animation: floating 5s ease-in-out infinite;

                /* When a card is opened  reset the hover effect */
                &:hover {
                    filter: brightness(1);
                    transform: scale(1);
                }

                .top-bar {
                    .close-button {
                        display: block;
                    }
                }

                .card-content {
                    display: flex;
                    animation: appear-after 2s forwards;
                }
            }
        }
    }
}

.card-holder.disabled-from-bottom *, .card-holder.disabled-from-top * {
    display: none;
    transition: all 0.5s ease-in-out;
}

.clickable {
    cursor: pointer;
}

#card-description {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .paragraph {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 2rem;

        p {
            text-align: justify;
        }

        img {
            width: 15%;
            margin: 2rem;
            background-color: #FFFFFF;
        }
    }

    img {
        width: 10%;
        object-fit: cover;
        border-radius: 10px;
    }
}

#card-contact {
    display: flex;
    justify-content: center;
    align-items: center;

    .social-media {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;

        width: 100%;

        .social-media-container {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            h2 {
                text-align: center;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: black;
                width: 7rem;
                height: 7rem;
                text-align: center;
                text-decoration: none;
                color: #FFF;
                box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
                margin: 0 30px;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                transition: transform 0.5s;

                &:hover {
                    transform: translateY(-10px);
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: -7rem;
                    left: 0;
                    /*background: #000;*/
                    /*background: linear-gradient(-45deg, #ed1c94, #ffec17);*/
                    position: absolute;
                    transition: 0.5s;
                }

                &:hover::after {
                    top: 0;
                }

                &:hover .fab, &:hover .fa {
                    color: #fff;
                }

                .fab, .fa {
                    font-size: 3.5rem;
                    line-height: 80px;
                    position: relative;
                    z-index: 10;
                    transition: color 0.5s;
                }
            }
        }
    }
}

#card-cv-resume {
    iframe {
        width: 100%;
    }
}

#card-portfolio {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }

        .project-row {
            display: flex;
            width: 100%;

            p {
                flex: 1 1 75%;
                text-align: justify;

                a {
                    background-color: transparent;
                    padding: 0;
                    color: white;

                    &:hover {
                        color: black;
                        text-decoration: underline;
                    }
                }
            }

            img {
                flex: 0 1 auto;
                margin: 1rem;
                border-radius: 20px;
            }
        }

        h2 {
            text-align: center;
            margin-bottom: 0.5rem;
        }

        a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            text-align: center;
            padding: 0.5rem;
            border-radius: 10px;
            background-color: #fff;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}

#zoomable-image-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    a {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem;
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
        cursor: pointer;

        &:hover {
            color: rgb(198, 198, 198);
        }
    }
}

@media screen and (max-width: 768px) {
    #card-container {
        flex: 1 1 auto;
        row-gap: 0.5rem;

        &:has(.card-holder.opened) {
            row-gap: 0;
        }

        .card-holder {
            height: 10%;
            width: 100%;
            font-size: 1rem;

            &.top.disabled-from-top, &.bottom.disabled-from-top, &.top.disabled-from-bottom, &.bottom.disabled-from-bottom {
                pointer-events: none;
                opacity: 0;
                height: 0;
                width: 100%;
            }

            .card {
                padding: 1rem;
                width: 90%;
                height: 100%;
                font-size: 1rem;
            }

            &.opened {
                padding: 0;

                .card {
                    padding: 1rem;
                }
            }
        }
    }

    #card-description {
        .paragraph {
            flex-direction: column;
            img {
                width: 50%;
            }
        }
    }

    #card-portfolio {
        .project {
            .project-row {
                flex-direction: column;
                align-items: center;
                img {
                    width: 50%;
                }
            }
        }
    }

    #card-contact {
        .social-media {
            flex-direction: column;
            row-gap: 1rem;
            .social-media-container {
                flex-direction: row;
                align-items: center;
                justify-content: center;


                column-gap: 1rem;
                a {
                    text-align: center;
                    .fab, .fa {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@keyframes grow-height {
    0% {
        flex: 0 0 0;
    }

    100% {
        flex: 1 0 auto;
    }
}

@keyframes shrink-height {
    0% {
        flex: 1 0 auto;
    }

    100% {
        flex: 0 0 0;
    }
}

@keyframes reload-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes update-align {
    0% {
        align-items: center;
    }

    99% {
        align-items: center;
    }

    100% {
        align-items: flex-start;
    }
}

@keyframes appear-after {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    75% {
        opacity: 0;
        width: auto;
        display: flex;
    }

    100% {
        opacity: 1;
        width: auto;
        display: flex;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes grow {
    0% {
        width: var(--card-width);
        height: var(--card-height);
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes shrink {
    0% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: var(--card-width);
        height: var(--card-height);
    }
}

